/* ---------------------------------------------------
    Water Quality STYLES
----------------------------------------------------- */
.water-quality {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.water-quality-block {
  width: 20%;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 1.2em;
}

.danger {
  background-color: #ff0e0e;
}

.danger-warning {
  background-color: #f2ba49;
}

.warning {
  background-color: #FFCC00;
}

.warning-success {
  background-color: #6f7408;
}

.success {
  background-color: #4BB543;
}

/* ---------------------------------------------------
    Chemical Pollutants STYLES
----------------------------------------------------- */
.chemical-pollutant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.chemical-pollutant-block {
  width: 50%;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 1.2rem;
}

.basic {
  background-color: #ff0e0e;
}

.acidic {
  background-color: #4BB543;
}

/* ---------------------------------------------------
    Chemical Pollutants STYLES
----------------------------------------------------- */
.mirco-organizm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.mirco-organizm-block {
  width: 33.33%;
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 1.2rem;
}

/* ---------------------------------------------------
    Date Sorting form STYLES
----------------------------------------------------- */
.date {
  width: 30%;
  margin: 10px auto;
}

label {
  width: 100%;
  text-align: center;
  font: 2rem;
  font-weight: bolder;
  margin: 20px auto;
}

#dateSelect {
  width: 100%;
  /* margin: 10px auto; */
  /* border-radius: 2px; */
}

#submitButton {
  width: 100%;
  margin: 10px auto;
}

.form-button {
  /* margin: 10px auto; */
  width: 100%;
}

.btn-3 {
  background-image: -webkit-gradient(linear, left top, right top, from(#84fab0), color-stop(51%, #8fd3f4), to(#84fab0));
  background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
}

.btn-3:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#8fd3f4), color-stop(51%, #84fab0), to(#8fd3f4));
  background-image: linear-gradient(to right, #8fd3f4 0%, #84fab0 51%, #8fd3f4 100%);
}

.btn-1 {
  background-image: -webkit-gradient(linear, left top, right top, from(#f6d365), color-stop(51%, #fda085), to(#f6d365));
  background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
}

.btn-1:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#fda085), color-stop(51%, #f6d365), to(#fda085));
  background-image: linear-gradient(to right, #fda085 0%, #f6d365 51%, #fda085 100%);
}
/*# sourceMappingURL=data-analytics.css.map */