$BGcolor : #272727; //black
$color1 : #747474; //grey
$color2 : #FF652F;  //red
$color3 : white;  //yellow
$color4 : #7589e0;  //green
$sidebar-text : #7589e0;

$gradient1 : linear-gradient(230deg, #759bff, #843cf6);
$gradient2 : linear-gradient(230deg, #fc5286, #fbaaa2);
$gradient3 : linear-gradient(230deg, #ffc480, #ff763b);
$gradient4 : linear-gradient(230deg, #0e4cfd, #6a8eff);
$gradient5 : linear-gradient(230deg, #f83600, #f9d423);