@import "variables";

/* ---------------------------------------------------
    CARD STYLES
----------------------------------------------------- */
.display-card{
    width: 195px;
    height: 150px;
    border-radius: 0.8rem;
    margin: 20px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-gradient1{
    background-image: $gradient1;
}
.card-gradient2{
    background-image: $gradient2;
}
.card-gradient3{
    background-image: $gradient3;
}
.card-gradient4{
    background-image: $gradient4;
}
.card-gradient5{
    background-image: $gradient5;
}
.display-card-heading{
    color: $display-card-heading-color;
    width: 100%;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 0px;
}

.display-card-body{
    color: $display-card-body-color;
    padding-left: 10px;
    margin: 0px;
}

.display-card-heart{
    width: 100%;
    padding-left: 120px;
    margin-top: -10px;  
}

.heart-style{
    color: $display-heart-color;
    opacity: 0.5;
    font-size: 3.0rem;
}




/* ---------------------------------------------------
    FORM STYLES
----------------------------------------------------- */
.form-block{
    width: 60%;
    margin: auto;
}
.form-block form{
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.form-label{
    width: 100%;
    margin-bottom: 0px;
    font-size: 1.2rem;
}
.form-input{
    width: 100%;
}
.form-select {
    border-radius: 0.3rem;
    border: 1px solid #ced4da;
    height: 30px;
    padding-left: 10px;
}




/* ---------------------------------------------------
    GRAPH STYLES
----------------------------------------------------- */
.iframe-style{
    width: 100%;
    height: 235px;
    border-radius: 10px;
    border: 1px solid black;
}